.cover{
    width: 1184px;
    height: 740px;
    background-image: url(/images/cover_img.png);
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 0;
    box-shadow: inset 0 0 0 2000px rgba(42, 44, 47, 0.3);
    transition-duration: 0.2s;
}

.cover__content{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    row-gap: 32px;
} 

.cover__title{
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    color: #FFFDFD;
    margin-top:0;
    margin-bottom: 0;
    z-index: 2;

}

.cover__sub-title{
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
}

.button-cover{
    width: 137px;
    height: 48px;
    z-index: 2;
}


.cover:hover{
    box-shadow: inset 0 0 0 2000px rgba(42, 44, 47, 0.8);
}

@media  screen and (max-width: 768px){
    .cover{
        max-width: 100%;
    }
    
}