.footer{
    margin: auto;
    display: flex;
    justify-content:center;
}

.footer__copyright{
    font-size: 0.875rem;
    line-height: 114%;
    /* identical to box height, or 114% */
    margin-top: 88px;
    margin-bottom: 24px;
    text-align: right;
}


@media  screen and (max-width: 320px) {

    .footer__copyright{
        font-weight: 400;
        font-size: 0.825rem;
        line-height: 100%;
        font-style: normal;
        margin-top: 64px;
    }
    
}