.lead{
    max-width: calc(100% - 296px);
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lead__heading{
    max-width: 100%;
    font-weight: 900;
    font-size: 6rem;
    line-height: 104%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    color: #ffffff;
}

.lead__image{
    width: 100%;
}
.lead__sub-heading{
    max-width: 720px;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin: auto;
    margin-bottom: 36px;
}

@media screen and (max-width: 768px)  {

    .lead{
        max-width: 100%;
    }



    .lead__image{
        min-width: 100%;

    }
    
}

@media  screen and (max-width: 660px){
    .lead__heading{
        font-size: 3rem;
    }

    .lead__sub-heading{
        font-size: 1.4rem;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 320px){
    .lead{
        max-width: 100%;
    }

    .lead__heading{
    max-width: calc(100% - 32px);
    font-size: 2.5rem;
    line-height: 110%;
    margin-bottom: 16px;
    }

    .lead__sub-heading{
        max-width: calc(100% - 32px);
        font-size: 1rem;
        line-height: 125%;
        margin-bottom: 40px;
        padding:0;
    }
}

