.places{
    max-width:987px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: auto;
    margin-bottom: 92px;
    margin-top: 92px;
    gap: 80px;
    box-sizing: border-box;
    padding: 0px;
}


.places__container{
    width: 100%;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto auto;
    column-gap: 40px;
    grid-template-areas:
    "title artist"
    "image content";
    box-sizing: border-box;
    position: relative;

}

.places:first-child{
    margin-top: 0;
}


.places__title{
    display: flex;
    align-items: flex-end;
    max-width: 460px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    margin-top: 0;
    margin-bottom: 48px;
    grid-area: "title";

}



.places__artist{
    max-width: 456px;
    margin-top: 0;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: "artist";

    
}

.places__artist-span{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 125%;
/* identical to box height */
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-top: 0;
    margin-bottom: 8px;
}

.places__artist-name{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 122%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.places__image{
    max-width: 460px;
    height: 460px;
    width: 100%;
    object-fit: cover;
    grid-area: "image";
}

.places__content-box{
    max-width: 484px;
    margin-top: 0;
    grid-area: "content";
}

.places__content{
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
}


.places__content:nth-last-of-type(1){
    margin-bottom: 0;
}

.places__button{
    width: 248px;
    height: 48px;
    margin-top: 48px;

}

@media screen and (max-width: 990px){
    
    .places__container{
        padding-left: 24px;
        padding-right: 24px;
    }
    .places__content{
        font-size: 0.825rem;
    }

    .places__container{

        column-gap: 20px;

    }
}


@media screen and (max-width: 768px){
    .places{
        width: 100%;
        row-gap: 72px;

    }
    
    .places__container{
        max-width: calc(100% - 24px*2);
        margin: auto;
        padding: 0;
        grid-template-columns:  340px 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 28px;
        position: relative;
    }

    .places__title{
    max-width: 340px;
    font-size: 2.625rem;
    line-height: 110%;
    }

    .places__artist{
        max-width: 316px;
        
    }
    
    .places__image{
        max-width: 340px;
        max-height: 340px;
    }
    
    .places__content-box{
        max-width: 352px;
        
    }
    
    .places__content{
        font-size: 1rem;

    }

    @media  screen and (max-width: 660px){
        .places{
            width: 100%;
            gap: 50px;
            margin-bottom: 64px;
            margin-top: 62px;
        
        }

        .places__container{
            max-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .places__title{
            max-width:288px;
            margin: auto;
            margin-bottom: 30px;
            align-self: flex-start;

            
        }

        .places__artist{
            max-width: 288px;
            margin:0;
            margin-bottom: 30px;

        }

        .places__image{
            width: 100%;
            height: 320px;
            margin-bottom: 30px;
        }

        .places__content-box{
            max-width:288px;
            margin: 0;
            
        }

        .places__content{
            max-width: 100%;
        }

    }


    @media  screen and (max-width: 320px){
        .places{
            width: 100%;
            gap: 50px;
            margin-bottom: 64px;
            margin-top: 62px;
        
        }

        .places__container{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .places__title{
            max-width:288px;
            font-size: 2rem;
            line-height: 109%;
            margin: 0;
            margin-bottom: 30px;
            align-self: flex-start;
            padding-left: 16px;
            
        }

        .places__artist{
            max-width: 288px;
            margin:0;
            margin-bottom: 30px;
            align-self: start;
            padding-left: 16px;
        }

        .places__image{
            width: 100%;
            max-height: 320px;
            margin-bottom: 30px;
        }

        .places__content-box{
            max-width:288px;
            margin: 0;
            
        }

        .places__content{
            max-width: 100%;
        }

        .places__button{
            max-width: 288px;
            margin-top: 30px;
        }
        
    }    
    
}